@import url("./fonts.css") all;
@import url("./reset.css") all;
@import url("./font-awesome.min.css") all;

.centr-position{
    width:1140px;
    margin: 0 auto;
}
.wrap{
    min-width: 1600px;
}
.row{
    display: flex;
    flex-direction: row;  
}
.column{
    display: flex;
    flex-direction: column;
}
.row-sp-btw{
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
}
.column-sp-btw{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.line-50{
    width: 50px;
    height: 2px;
    background-color: #555555;
    margin: 28px auto;       
}
.line-50-alt{
    width: 50px;
    height: 2px;
    background-color: #ffffff;
    margin: 28px auto;       
}
.posit-rel{
    position: relative;
}
.pad-t-35{
    padding-top: 35px;
}


.home-section{    
    background-image: url(../img/home-background.png);
    background-repeat:  no-repeat;
    background-size: cover; 
    height: 770px;
    line-height: 24px;
    color: #ffffff;
}
.name-proj{ 
    width: 91px;
    font-family: "Montserrat-Bold";
    font-size: 24px;
    line-height: 36px;
}
.menu-link{
    text-decoration: none; 
    color: #ffffff;
    font-family: "Montserrat-Regular";
    font-size: 14px;        
    letter-spacing: 0.35px;
    line-height: 36px;
}
.menu-link:hover{
    text-decoration: underline;
}
.menu-nav{  
    width: 540px;
    margin-left: 510px;  
}
.header-block{   
    margin: 0 auto;
    margin-top: 260px;    
    text-align: center;
}
.header-title{
    margin-bottom: 33px;
    font-size: 48px;
    font-family:"Montserrat-Regular";    
    text-transform: uppercase;
}
.header-text{
    font-size: 20px; 
    font-family:"RobotoSlab-Regular";
}
.header-btn{    
    width: 180px;
    height: 50px;
    margin: 0 auto;
    margin-top: 50px;
    border: 2px solid #ffffff;
    border-radius: 2px;  
}
.header-btn:hover{
    color: #c0301c;
    background-color: #ffffff;
}
.header-btn-text{
    margin-top: 15px;
    text-align: center;
    font-family:"Montserrat-Regular";
    font-size: 16px;    
    text-transform: uppercase;
    cursor: pointer;
}

/*******************/
.service{
    margin-top: 100px;
    margin-bottom: 100px;
}
.service-header{
    text-align: center;  
    line-height: 24px;
    color: #555555;
}
.service-title{      
    font-family: "Montserrat-Regular";  
    font-size: 20px;
    text-transform: uppercase; 
}
.service-title-alt{     
    font-family:"RobotoSlab-Regular";
    font-size: 16px;   
    margin-bottom: 70px;
}
 
.single-service{    
    text-align: center;
    color: #555555;
    line-height: 24px;
}
.single-service-title-block{     
    font-family:"Montserrat-Regular";
    text-transform: uppercase;
    font-size: 14px;      
    margin-top: 25px;
    margin-bottom: 25px;
}
.single-service-text-block{   
    width: 346px;   
    font-family:"RobotoSlab-Regular";
    font-size: 14px;    
}

.icon-service{
    text-align: center;
    font-family: 'FontAwesome-Webfont';
    text-transform: uppercase;
    font-size: 49px; 
    line-height: 86px;

    height: 86px;
    width: 86px;    
    border: 2px solid #dddddd;
    border-radius: 50%;        
    background-color: #ffffff; 
    color: #c0301c;

    margin: 0 auto;
    cursor: pointer;
}
.icon-service:hover{   
    background-color: #c0301c;  
    color: #ffffff;   
}

/***************************/
.about-us{
    background-color:  #f8f8f8;
    padding-top: 100px;
    padding-bottom: 100px;
    color: #555555;
    line-height: 24px;
}
.about-us-header{ 
    text-align: center;
    font-family:"Montserrat-Regular";
    font-size: 20px;       
    text-transform: uppercase;
}
.about-us-header-alt{
    text-align: center;
    font-family:"RobotoSlab-Regular";
    font-size: 16px;   
}
.about-us-content{
    width: 553px;  
    font-family:"RobotoSlab-Regular"; 
    font-size: 14px;
}
.content{  
    margin: 70px auto;
}

.slide-photo {   
    position: relative;
}
.member-photo{
    width: 263px;
    height: 250px;
    position: relative;
}
.member-shadow{
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    background-color: rgba(160, 160, 160, 0.5);
}
.member-photo:hover .member-shadow{
    visibility:visible;
}
.member-icon{   
    color: #ffffff;
    font-family: "FontAwesome-Webfont";
    font-size: 16px;
    line-height: 28px;
    display: block;
    width: 28px;
    height: 28px;
    text-align: center;
}
.member-icon:hover{
    background-color: #c0301c;
}
.member-social-icon{
    margin: 0 auto;
    margin-top: 190px;
    width: 122px;
}
.members-arrow{
    position: absolute;
    width: 35px;
    height: 38px;
    background-color: #8f8f8f;
    cursor: pointer;    
    top:106px;
}
.members-arrow:hover{
    background-color: #c0301c;
}
.arrow-left{   
    left:0;
}
.arrow-right{   
    right: 0;
}
.icon-arrow{
    font-family: 'FontAwesome-Webfont';
    font-size: 14px;
    color: #dddddd;
    line-height: 38px;
    padding-left: 13px;
}

.member-desript{
    padding-top:15px;
    text-align: center;
}
.name-member{
    font-family:"Montserrat-Regular";
    font-size: 14px;
    text-transform: uppercase;
}
.post-member{
    font-family:"RobotoSlab-Regular";
    font-size: 13px;
}


/****************************/
.works{
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;  
    color: #555555;
}
.works-header{
    font-family:"Montserrat-Regular";
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
}
.works-header-menu{
    margin: 0 auto;
    width: 417px;
    margin-bottom: 70px;
}
.works-menu-link{
    text-decoration: none;   
    font-family:"RobotoSlab-Regular";
    font-size: 16px;
    line-height: 24px;
    color: #555555;
}
.works-menu-link:hover{
    color:#c0301c;
}

.works-content-img{
    width: 100%;
    height: 1020px;
}
.works-img{
    position: relative;
    width: 360px;
    height: 320px;  
}
.works-img-shadow{   
    position: absolute;
    visibility: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(208, 108, 95, 0.7);
    color: #ffffff;
    text-align: center;
}
.works-img:hover .works-img-shadow{
    visibility: visible;
}
.works-img-shadow_title{
    margin-top: 106px;  
    font-family: "Montserrat-Regular";
    font-size: 18px;
}
.works-img-shadow_text{
    margin-top: 18px;  
    font-family:"RobotoSlab-Regular";
    font-size: 12px;
}
.works-shadow_btn{    
    background-color: #ffffff;
    color: rgba(208, 108, 95, 0.7);
    font-family:"RobotoSlab-Regular";    
    margin: 0 auto;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    cursor: pointer;
    width: 100px;
    height: 31px;
    font-size: 14px;
    line-height: 24px;
    padding-top: 7px;
    margin-top:27px;
}

/**************/

.call-to-action-parallax{
    height: 369px;
    background-image: url("../img/call-to-action-parallax.png");
    background-repeat:  no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-width: 1600px;
}
.red-shadow{
    width: 100%;
    height: 100%;
    background-color: rgba(195, 101, 83, 0.6);
    color: #ffffff;
    text-align: center;
}
.call-to-action-text{
    padding-top: 90px;
    padding-bottom: 43px;
    font-family:"RobotoSlab-Regular";  
    font-size: 30px;
    line-height: 44px;
}
.call-to-action-btn{
    width: 180px;
    height: 46px;
    border-radius: 2px;
    border: 2px solid #ffffff;
    margin:0 auto;
    cursor: pointer;
    font-family:"RobotoSlab-Regular";  
    font-size: 18px;
    line-height: 46px;
    text-transform: uppercase;
}
.call-to-action-btn:hover{
    background-color: #ffffff;
    color: #c0301c;
}

/********************************/

.paralax-blog{
    padding-bottom: 100px;
}
.paralax-blog-header{
    text-align: center;
    color: #555555;
    line-height: 24px;
    padding-top:90px;
    padding-bottom: 64px ;
}
.paralax-blog_title{     
    font-family: "Montserrat-Regular";
    font-size: 20px;   
    text-transform: uppercase;      
}
.paralax-blog_subtitle{  
    font-family:"RobotoSlab-Regular";  
    font-size: 16px;    
}

.paralax-blog-post_left_column{ 
    min-width: 460px;
    height: 322px;
}
.paralax-blog-post_right_column {
    padding-left: 40px;
}

.paralax-blog-post_date{
    width: 72px;
    height: 72px;
    border: 2px solid #555555;
    text-align: center;   

    color: #777777;
    font-family: "Montserrat-Bold";  
    line-height: 20px;
    text-transform: uppercase;    
    font-size: 24px;
    letter-spacing: 2.4px;    
}
.date-number{
    padding-top: 18px;
}
.date-month{
    font-size: 14px;
    letter-spacing: 1.4px;
}

.paralax-blog-post_title_text{ 
  padding-left: 28px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.paralax-blog-post_title_text_startup{
    text-transform: uppercase;
    color: #555555;
    font-family: "Montserrat-Regular";
    font-size: 16px;
}
.paralax-blog-post_title_text_by{
    font-family:"RobotoSlab-Regular";
    font-size: 13px;
    font-style: italic;   
    color: #777777;
    padding-top: 18px
}
.paralax-blog-post_title_text a{
    color: #777777;
    text-decoration: none;
}
.paralax-blog-post_title_text a:hover{
    color: #c0301c;
}

.paralax-blog-post_content{    
    color: #555555;
    font-family:"RobotoSlab-Regular";
    font-size: 14px;
    line-height: 24px;
    padding-top: 22px;
    padding-bottom: 36px;
}
.read-link{    
    color: #777777;
    font-family:"RobotoSlab-Bold";
    font-size: 13px;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1.3px;
}
.read-link:hover{
    color: #c0301c;
}
.line100{
    width: 100%;
    height: 2px;
    background-color: #dddddd;
    margin: 38px auto;  
}

/******************************/

.clients{
    background-color: #f8f8f8;
    padding-bottom: 100px;
    padding-top: 97px;
}
.clients-logos{
    align-items: center;
    margin: 0 auto;   
    padding-bottom: 70px;
    width: 899px;
    height: 50px;
}
.clients-excerption{
    text-align: center;
    
    color: #555555;
    font-family:"RobotoSlab-Regular";

    line-height: 30px;
}
.clients-excerption-text{
    font-size: 18px;
    font-style: italic;    
}
.clients-excerption-person{
    padding-top: 40px;
    font-size: 20px;
}
.clients-excerption-circles{
    width: 54px;
    margin: 0 auto;
    padding-top: 40px;
}
.clients-circle{
    width: 13px;
    height: 13px;
    background-color: #dddddd;
    border-radius: 50%;
}
.clients-circle:hover{
    background-color: #c0301c;
}

/********************************************/

.contact{
    padding-top: 100px;
    padding-bottom: 100px;
}
.contact-title{
    text-align: center;
    color: #555555;
    font-family:"Montserrat-Regular";
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;  
}
.contact-subtitle{
    font-family:"RobotoSlab-Regular";
    font-size: 16px;
    text-transform: none;
}

.icon-contact{
    font-family: "FontAwesome-Webfont";
    font-size: 18px;
    color: #555555;
    width: 30px;
}

.contact-content{
    padding-top: 70px;
}
.contact-block{
    width: 395px;
    height: 56px;
    padding-bottom: 33px;
}
.contact-block-title{
    width: 206px;
    color: #555555;
    font-family:"Montserrat-Regular";
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}
.contact-block-info{
    width: 208px;
    padding-top: 17px;    
}
.contact-block-info-text{
    text-decoration: none;
    color: #555555;
    font-family:"RobotoSlab-Regular";
    font-size: 12px;
    line-height: 20px;
}

/*********************************/

.contact-form{
}
.contact-form-font{
    color: #555555;
    font-family:"RobotoSlab-Regular";
    font-size: 12px;
    line-height: 44px;
    text-transform: uppercase;
    background-color: #ffffff;   
}
.row-contact{
    margin-bottom: 21px;
}
.contact-input {    
    width: 333px;
    height: 45px;  
    padding-left: 17px;   
}
.contact-textarea{
    width: 730px;
    height: 105px;
    resize: none;  
    padding-left: 17px;
}
.elem-form-border:focus{
    outline:none; 
    border-color: #c0301c;    
}
.elem-form-border{
    border: 1px solid #555555;  
}
.contact-submit{
    width: 170px;
    height: 44px;
    border: 1px solid #555555;
    text-align: center;
    margin-right: 38px;
}
.contact-submit:hover{
    background-color: #c0301c;
    border-color: #c0301c;
    color: #ffffff
}
.contact-form-text{   
    color: #555555;
    font-family:"RobotoSlab-Regular";
    font-size: 12px;
    line-height: 44px;  
}
.contact-form-text-red{
    color: #c0301c;
}

/***********************/

.footer{    
    height: 307px;
    background-color: #c0301c;
    text-align: center;
}
.footer-circle-row{
    width: 184px;
    margin: 0 auto;
    padding-top: 100px;
}
.circle-twitter-icon{   
    width: 35px;
    height: 35px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    color: #ffffff;
}
.icon-twitter{    
    line-height: 35px;
}
.circle-twitter-icon:hover{
    background-color: #ffffff;
    color: #c0301c;
}
.footer-text{  
    color: #ffffff;
    font-family:"RobotoSlab-Regular";
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
}