@import url("fonts.css") all;
@import url("reset.css") all;
@import url("font-awesome.min.css") all;

.centr-position{
    width:1140px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-direction: row;
    
    justify-content: space-between;
}
.column{
    display: flex;
    flex-direction: column;
    
    justify-content: space-between;
}
.posit-rel{
    position: relative;
}

.home-section{
    min-width: 1600px;
    background-image: url(../img/home-background.png);
    background-repeat:  no-repeat;
    background-size: cover; 
    height: 770px;

    line-height: 24px;
    color: #ffffff;
}
.pad-t-40{
    padding-top: 40px;
}
.name-proj{ 
    width: 91px;
    font-family: "Montserrat-Bold";
    font-size: 24px;
    line-height: 36px;
}

.menu-link{

    text-decoration: none;
    /*
    width: 540px;
    height: 14px;*/
    
    color: #ffffff;
    font-family: "Montserrat-Regular";
    font-size: 14px;    
    
    letter-spacing: 0.35px;
}
.menu-nav{
    justify-content:space-between;
    width: 540px;
    margin-left: 510px;
    margin-top: 5px;
}

.header-block{
    width: 581px;
    margin: 0 auto;
    margin-top: 260px;    
    text-align: center;
}
.header-title{
    font-size: 48px;
    font-family:"Montserrat-Regular";
    margin-bottom: 33px;
}
.header-text{
    font-size: 20px; 
    font-family:"RobotoSlab-Regular";
}
.header-btn{    
    width: 180px;
    height: 50px;
    margin: 0 auto;
    margin-top: 50px;
    border: 2px solid #ffffff;
    border-radius: 2px;  
}
.header-btn-text{
    margin-top: 15px;
    text-align: center;
    font-family:"Montserrat-Regular";
    font-size: 16px;    
    text-transform: uppercase;
}



/*******/
.service{
    margin-top: 100px;
    margin-bottom: 100px;
}
.service-header{
    text-align: center;  
}

.service-title{      
    font-family: "Montserrat-Regular";    
    color: #555555;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
 
}
.line-50{
    width: 50px;
    height: 2px;
    background-color: #555555;
    margin: 28px auto;
       
}
.service-title-alt{   
  
    color: #555555;
    font-family:"RobotoSlab-Regular";
    font-size: 16px;   
    line-height: 24px;
    margin-bottom: 70px;
}

.icon-service, .icon-service-inverse{
    text-align: center;
    font-family: 'FontAwesome-Webfont';
    text-transform: uppercase;
    line-height: 86px;
    height: 86px;
    width: 86px;
    margin: 0 auto;
    border: 2px solid #dddddd;
    border-radius: 50%;
}

.icon-service{
    font-size: 40px;    
    background-color: #c0301c;  
    color: #ffffff;   
}
.icon-service-inverse{    
    font-size: 49px;    
    background-color: #ffffff; 
    color: #c0301c;
}

 
.single-service{
    
    justify-content:space-between;
}
.single-service-title-block{
/* S
width: 152px;
height: 11px;*/
    text-align: center;
    color: #555555;
    font-family:"Montserrat-Regular";
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;

    margin-top: 25px;
    margin-bottom: 25px;
}
.single-service-text-block{
    text-align: center;
    /* Style for "Lorem ipsu" */
    width: 346px;
    color: #555555;
    font-family:"RobotoSlab-Regular";
    font-size: 14px;
    line-height: 24px;
}

/***************************/
.about-us{
    background-color:  #f8f8f8;
    padding-top: 100px;
    padding-bottom: 100px;
}

.about-us-header{
    /* S
width: 107px;
height: 16px;*/
    color: #555555;
    font-family:"Montserrat-Regular";
    font-size: 20px;
    text-align: center;
    line-height: 24px;
    text-transform: uppercase;
}

.about-us-header-alt{
    text-align: center;
    color: #555555;
    font-family:"RobotoSlab-Regular";
    font-size: 16px;
 
    line-height: 24px;
}
.about-us-content{
    /* Style for "Lorem ipsu" */
    width: 553px;

    color: #555555;
    font-family:"RobotoSlab-Regular"; /******??????***/
    font-size: 14px;

    line-height: 24px;
}
.content{
    justify-content:space-between;
    margin: 70px auto;
}
.slide-photo {
    height: 310px;
    justify-content:space-between;
    position: relative;
}
.team-member{
    width: 263px;
    height: 310px;
    position: relative;
}

.member-photo{
    width: 263px;
    height: 250px;
    position: relative;
}
.member-shadow{
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    background-color: rgba(160, 160, 160, 0.5);

}
.member-photo:hover .member-shadow{
    visibility:visible;
}

.member-icon{   
    color: #ffffff;
    font-family: "FontAwesome-Webfont";
    font-size: 16px;
   line-height: 28px;
    display: block;
    width: 28px;
    height: 28px;
    text-align: center;

}
.member-icon:hover{
    background-color: #c0301c;
}
.member-social-icon{
    margin: 0 auto;
    margin-top: 190px;
    width: 122px;
}

.members-arrow{
    position: absolute;
    width: 35px;
    height: 38px;
    background-color: #c0301c;
    top:106px;
}
.members-arrow:hover{
    background-color: #8f8f8f;
}

.arrow-left{   
    left:0;
}
.arrow-right{   
    right: 0;
}
.icon-arrow{
    font-family: 'FontAwesome-Webfont';
    font-size: 14px;
    color: #dddddd;
    line-height: 38px;
    padding-left: 13px;
}

.member-desript{
    /* Style for "Name & Pos" */
   padding-top:20px;
    text-align: center;
}
.name-member{
    /* Style for "Md. Khalil" */

    color: #555555;
    font-family:"Montserrat-Regular";
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
}
.post-member{
    /* Style for "Head of Id" */

    color: #555555;
    font-family:"RobotoSlab-Regular";
    font-size: 13px;
    line-height: 24px;
}


/**************/
.works{
    padding-top: 100px;
    padding-bottom: 100px;
}

.works-header{

    text-align: center;
  
    color: #555555;
    font-family:"Montserrat-Regular";
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
}
.works-header-menu{
    margin: 0 auto;
    width: 417px;
    justify-content: space-between;
    margin-bottom: 70px;

}
.works-menu-link{
    text-decoration: none;    

    color: #555555;
    font-family:"RobotoSlab-Regular";
    font-size: 16px;
    line-height: 24px;

    color: #555555;

}
.works-menu-link:hover{
    color:#c0301c;
}

.works-content-img{
    width: 100%;
    height: 1020px;

}
.works-img{
    position: relative;
    width: 360px;
    height: 320px;
   
    
}
.works-img-shadow{
   
    position: absolute;
    visibility: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(208, 108, 95, 0.7);
    color: #ffffff;
    text-align: center;
}
.works-img:hover .works-img-shadow{
    visibility: visible;
}

.works-img-shadow_title{
   margin-top: 106px;
    color: #ffffff;
    font-family: "Montserrat-Regular";
    font-size: 18px;
}
.works-img-shadow_text{
    margin-top: 18px;
    color: #ffffff;
    font-family:"RobotoSlab-Regular";
    font-size: 12px;
}
.works-shadow_btn{    
    background-color: #ffffff;
    color: rgba(208, 108, 95, 0.7);
    font-family:"RobotoSlab-Regular";    
    margin: 0 auto;
    text-transform: uppercase;
    letter-spacing: 1.4px;

    width: 100px;

    height: 31px;

    font-size: 14px;
    line-height: 24px;
    padding-top: 7px;
    margin-top:27px;
}